body {
    font-family: 'Inter';
    }

/* NAVBAR */

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}
.navbar .nav-link{
    color: #1F1F20;
}
#custom-navbar {
    background-color: #F5F5F7;
}

  
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #1F1F20;
}
  
.navbar-nav {
    flex-grow: 1;
    }

/* FORM BOX  */

.id{
    background-color: #F5F5F7;
    height: 56px;
    border-radius: 3px;

}
.id #id-text{
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
    margin-left: 12px;
}


    
.detail-box{
    
    border: 1px solid #E7E7E8;
    border-top: 1px solid #FFF;
    border-radius: 3px;
    
}
.casestatus {
    height: 56px; 
    background-color: green;
    color: #fff;
    
}
#colorSelect {
    width: 295px; /* Adjust the width as needed */
}


.bg-green {
    background-color: green !important;
    color: white !important;
}
 .bg-red {
    background-color: red !important;
    color: white !important;
}
.heading{
    color: #1F1F20;
    font-size: 18px;
    font-weight: 600;

}
.basicbox{
    height: 58px;
}
.accidenttype{ 
    height: 58px;  
}
.refferedtype{
    height: 58px; 
}
.line {
    width: 100%;
    height: 1px;
    background-color: #E7E7E8;
}
.savestatus{
    width: 295px;
    height: 58px;
}
#savestatus{
    width: 297px;
    height: 58px;
}
.discardbutton{
    margin-left: 106px;
}
.attorney{
    height: 58px; 
}
.form-floating h6, .form-select, .form-control, #checkbox, .button-container {
    width: 100%;
}
.button-container button {
    margin-right: 10px;
}
.container-100 {
    max-width: 100%;
}
.affidavit{
    height: 58px; 
}
#payment{
    height: 58px; 
}
.border-visible {
    border-left: 1px solid #E7E7E8; /* Black border */
    padding: 15px; /* Optional padding for better visibility */
    border-radius: 3px; /* Optional rounded corners */
    
     /* Optional padding for better visibility */
    
}




       
        
        
        