body{
    font-family: 'Inter', 'sans-serif';
    
  }
  .nav {
    background-color: rgba(15,23,42,255);
  }
  
  .nav .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0 ; 
  }
  .nav .menu ul li{
  
    font-family: 'Inter', 'sans-serif';
    display: inline;
    margin-right: 40px;
    color: white;
    font-weight: 600;
  }
  /* .nav .menu ul.special-list li:nth-child(2),li:nth-child(4) {
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
    padding: 0px 30px 0 30px;
  }
  .nav .menu ul li:nth-child(6){
  
    border-left: 1px solid #676767;
    padding: 0px 0 0 30px;
  } */
  .nav .menu ul.special-list .item-with-border {
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
    padding: 0px 30px 0 30px;
  }
  .nav .menu ul.special-list .item-with-borders {
    border-left: 1px solid #676767;
    
    padding: 0px 0 0 30px;
  
  }
  
  .nav .menu ul.special-list .item-with-border:nth-last-child(1) {
    border-left: 1px solid #676767;
    padding: 0px 0 0 30px;
  }
  .login{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    color: #22252c;
    
  }
  .centered-content {
    display: flex;
    align-items: center;
  }
  .centered-content .login {
    display: flex;
    align-items: center; 
    margin-right: 30px; 
  }
  .centered-content .cart {
    display: flex;
    align-items: center; 
    margin-right: 15px; 
  }
  
  .centered-content .login i {
    margin-right: 10px; 
  }
  .centered-content .cart i {
    margin-right: 10px; 
  }
  
  .cart{
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    color: #22252c;
  }
  .searchicon{
    position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 340px; 
          z-index: 1; 
  }
  
  .header-search .twitter-typeahead {
    width: 374px;
    margin-right: -150px;
  }

  #heading {
    font-size: 26px; 
    font-weight: 500;
    margin-top: 15px;
}
#secondary{
    font-size: 65%;

}


.breadcrumb {
    background-color: transparent; 
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    
}
.breadcrumb-item.active {
  color: #676767; /* Change to your desired color */
}

a:hover {
    text-decoration: none !important;
    color: #000;
}
a{
  text-decoration: none;  
  color: #000;
}
.row{
  --bs-gutter-x: 0rem;
    display: flex;
    flex-wrap: wrap;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.nav-pills .nav-link {
    border-radius: 0%;
}
#nav-profile-tab{
  color: black; /* Default color */
}

/* Change color of active tab text "Templates" */
#nav-profile-tab.active {
  color: white; /* Change to your desired active color */
}
#nav-home-tab{
  color: #000;
}
#nav-home-tab.active{
  color: white;
}
.tab-content>.active {
    display: block;
    border: 1px solid #dee2e6!important
    
}
.form-group{
    
    border: solid 1px #dee2e6;
}
#cardmain{
  border-radius: 0;
}

#cardd{
  border-radius: 0;
    background-color: #10172A;
}
.card-body {
    margin-top: 10px;
    margin-bottom: -20px;
    
}
.btn-custom-width {
    width: 250px;
    height: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#upload {
    margin-left: 35px;
    background-color: #F9F136;
    border-radius: 0;
    border: 0;
   
}

#design {
    margin-right: 35px;
    background-color: #F9F136;
    border-radius: 0;
    border: 0;
    
}
 

#designcollection{
    margin-top: 20px;

}

#estimatecustom{
    width: 190px;
    height: 45px;
    margin-left: 15px;
    margin-bottom: 10px;

}
#zipcode{
    width: 190px;
    height: 45px;
    margin-left: 38px;
    margin-bottom: 10px;
    

}

#text {
    padding-left: 40px;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#text3{
  margin-top: 20px;
  padding-left: 40px;
  font-size: 14px;
}

#text2{
  margin-right: 25px;
  text-align: right;
  font-size: 14px;

}
#text4{
  margin-top: 15px;
  padding-left: 40px;
  font-size: 12px;
}
#text5{
  margin-top: -10px;
  font-size: 12px;
  padding-left: 40px;
}
  


#textline{
   
    
    margin-left: 40px;
    width: 400px;
    border-bottom: 1px solid  #dee2e6;
}