body{
    font-family: 'Inter', 'sans-serif';
    
  }

  #heading {
    font-size: 26px; /* Adjust the font size as desired */
}
#secondary{
    font-size: 65%;

}

.line {
    border: none;
    border-top: 1px solid #dee2e6;

}
.breadcrumb {
    background-color: transparent; /* Set the background color to transparent */
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
/* Increase specificity */
a:hover {
    text-decoration: none !important;
}
a{
  text-decoration: none;  
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.nav-pills .nav-link {
    border-radius: 0%;
}



.tab-content>.active {
    display: block;
    border: 1px solid #dee2e6!important
    
}
.form-group{
    padding: 1.25rem;
}
.pricecalculator .Size{
    font-size: 90px;
}
.card-body {
    margin-top: 10px;
    margin-bottom: -20px;
    
}



.btn-custom-width {
    width: 250px;
    height: 60px;
    
   
     /* Adjust margin to make buttons close */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

#upload {
    margin-left: 40px;
   
}

#design {
    margin-right: 40px;
    
   
    /* Add margin between buttons if needed */
}
 

#designcollection{
    margin-top: 20px;

}
#estimatecustom{
    width: 200px;
    height: 50px;
    margin-right: 50px;

}
#zipcode{
    width: 200px;
    height: 50px;
    margin-left: 50px;

}