body{
  font-family: 'Inter', 'sans-serif';
}

/* TOP BAR */

.login{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Inter', 'sans-serif';
  color: #22252c;
  margin-top: 15px;
  
}
.header-search {
  margin-top: 15px; 
}

.centered-content {
  display: flex;
  align-items: center;
}
.centered-content .login {
  display: flex;
  align-items: center; 
  margin-right: 30px; 
}
.centered-content .cart {
  display: flex;
  align-items: center; 
  margin-right: 15px; 
}

.centered-content .login i {
  margin-right: 10px; 
}
.centered-content .cart i {
  margin-right: 10px; 
}

.cart{
  text-decoration: none;
  font-family: 'Inter', 'sans-serif';
  font-size: 16px;
  color: #22252c;
  margin-top: 15px;
}
.searchicon{
  position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 340px; 
        z-index: 1; 
}

.header-search .twitter-typeahead {
  width: 374px;
  margin-right: -150px;
}

/* NAVBAR */

.nav {
  background-color: rgba(15,23,42,255);
}

.nav .menu ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0 ; 
}
.nav .menu ul li{

  font-family: 'Inter', 'sans-serif';
  display: inline;
  margin-right: 40px;
  color: white;
  font-weight: 600;
}

.nav .menu ul.special-list .item-with-border {
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  padding: 0px 30px 0 30px;
}
.nav .menu ul.special-list .item-with-borders {
  border-left: 1px solid #676767;
  
  padding: 0px 0 0 30px;

}

.nav .menu ul.special-list .item-with-border:nth-last-child(1) {
  border-left: 1px solid #676767;
  padding: 0px 0 0 30px;
}

/* BANNER */

.banner{
  width: 100%;
  height: 500px;
  background-image: url(img/whitecolor.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* LOGOLIST */

.containerimg {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  height: 110px; 
}

.sec-logo{
  width: 100%;
  background-color: #f7fbfc;
  padding: 0;
}

.sec-logo .main-img{
  height: 100px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-logo .main-img .image{
  padding-right: 35px;
}
.sec-logo .main-img img{
  width: 100%;
  
}
.sec-logo .main-img .image p{
  font-size: 1rem;
  margin-top: 10px;
  
  font-family: 'Inter', 'sans-serif';
  color: #22252c;
  font-weight: 400;
}

/* HOT DEAL CONTAINER BTN */

.deals .btn{
border: 1px solid #d1d3d6;
opacity: 0.7;
transform: translateY(-50%);
border-radius: 50%;
background-color: #ffffff;
position: absolute;
content: "";
width: 50px;
height: 50px;
top: 40%;
left: -14px;
background-color: white;
z-index: 1;
display: flex; 
justify-content: center;
align-items: center;
}
.deals .btn-icon{
  width: 28px; 
  height: 28px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.deals .btn-right{
  border: 1px solid #d1d3d6;
opacity: 0.7;
transform: translateY(-50%);
border-radius: 50%;
background-color: #ffffff;
position: absolute;
content: "";
width: 50px;
height: 50px;
top: 40%;
right: -14px;
background-color: white;
z-index: 1;
display: flex; 
justify-content: center; 
align-items: center;

}

.deals{
  margin:0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f1f2f6;
}
.deals .container .row{
  position: relative;
}


.deals .card{
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  
}
.deals .txt h2{

    font-size: 1.75rem;
    font-weight: 600;
    color: #3e4148;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Inter', 'sans-serif';
}
.deals .card-title{
  color: #4c4b50;
  margin-top: 12px;
  font-family: 'Inter', 'sans-serif';
  font-size: 1.25rem;
  font-weight: 300;
}

/* 
CUSTOMER IMAGE GALLERY */

.container .gallery {
  width: 120%;
  margin: 3rem auto; 
}
.container .imagegallerytxt{
  font-family: 'Inter', 'sans-serif';
  text-align: center;
  padding-top: 70px;
  margin-top: -20px;

}
.container .imagegallerytxt h2{
  font-size: 2.25rem;
  font-weight: 700;
  font-family: 'Inter', 'sans-serif';
  color:#22252c;

}
.container .imagegallerytxt p{
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Inter', 'sans-serif';
  color:#22252c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  padding-bottom: -150px;
  
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;

}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;

 
}

.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end:9;
  grid-row-start: 1;
  grid-row-end: 4;

 
}

.gallery__item--4 {
  grid-column-start:9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;

}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;

}

.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

  .gallery__item--7 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--9{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--11 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 13;
  }
  .gallery__item--12 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 13;
  }
  .gallery__item--13 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end:13;
  }
  .gallery__item--14 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start:10;
    grid-row-end: 13;
  }


  /* CUSTOMER TESTEMONIALS */


  .test{
    margin:0;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 70px; 
    background-color: #f1f2f6;
  }
  .test .btntest{
    
      border: 1px solid #d1d3d6;
      opacity: 0.7;
      border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      left: -26px;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .test .btn-icon{
    width: 28px; 
  height: 28px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  }
  .test .btntestright{
    
    border: 1px solid #d1d3d6;
    opacity: 0.7;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test .card{
    border: none;
    text-align: center;
    margin-top: -20px;
    
      
  }
  
  .test .txt h2{
    font-size: 2;
    font-weight: 600;
    font-family: 'Inter', 'sans-serif';
    color:#22252c;
    text-align: center;
    padding-bottom: 50px;
      
  }
  .test .card-title{
    color: #4c4b50;
    margin-top: 15px;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    margin-bottom: 0px;
  }
  .test .card-text{
    color:#3e4148;
    margin-top: 0px;
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    margin-bottom: 5px;
    
  }
  .test .card-texts{
    color: #4c4b50;
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
  }
  .checked {
    color: orange;
    margin-top: 10px;
  }
  .test .card-body img, p {
    font-family: 'Inter', 'sans-serif';
    display: inline-block;
    font-size: 12px;
    color:#676767;
    margin: 0px;
  }
  .test p {
   margin-bottom: 10px;
  }

  /* VIDEO CONTAINER */


  .video {
    position: relative;
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width: 1300px; 
    margin: auto;
    padding-right: 10px;
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .center_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  /* SERVICES CONTAINER */


.brand{
  padding-bottom: 65px;
  background-color: rgb(219 219 219 / 53%);
}
.brand .txt h2{
  font-size: 1.75rem;
  font-weight: 600;
  color: #22252c;
  text-align: center;
  font-family: 'Inter', 'sans-serif';
  padding-top: 50px;
  display: block;
  
}

.brand .txt p{
  font-family: 'Inter', 'sans-serif';
  text-align: center;
  font-weight: 300;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 1.125rem;
  color: #22252c;
  display: block;
  margin: 0 auto; 
  text-align: center
  
}
.brand .jss39{
    fill: #27a6ff;
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}

.brand .card-title{
  font-family: 'Inter', 'sans-serif';
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 5px;
  color: #22252c;
}
.brand .card-text{
  font-family: 'Inter', 'sans-serif';
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  color: #22252c;
}
.brand .container .row{
  padding: 40px 0 40px 0;
  background-color: white;
}
.brand .container .row .col-lg-3{
  padding: 0;
}
.brand .card{
  border: none;
  height: 100%;
  border-radius: 0;
  text-align: center;
  padding: 70px 10px 70px 10px;
}
.brand #card-2{
border-left: 1px solid #b8b8b8;
border-right: 1px solid #b8b8b8;
}
.brand #card-4{
  border-left: 1px solid #b8b8b8;
}

.brand .card img{
  width: 20%;
  margin: 0 auto;
}


/* CHAT WITH US CONTAINER  */

.chatwithus{
  padding-bottom: 50px;
}

.chat-container {
  display: flex;
  justify-content: space-between;
 
}

.chat-column {
  flex: 1;
  max-width: 48%; 
  margin-right: 2%;
  font-family: 'Inter', 'sans-serif';
  
  
}
.chat-column h2{
  font-size: 1.875rem;
  font-weight: 600;
  padding-top: 100px;
  font-family: 'Inter', 'sans-serif';
  margin-bottom: 0.75rem;
  
}
.chat-column p{
  font-size: 1.125rem;
  font-weight: 400;
  color: #22252c;
  margin-bottom: 2rem;
  font-family: 'Inter', 'sans-serif';
  
}
.chat-column:last-child {
  margin-right: 0; 
}
.btn{

  width: 170px; 
  height: 40px; 
  padding: 150px; 
  font-size: 16px; 
  
  font-family: 'Inter', 'sans-serif';
  
}

/* FOOTER */

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20 0 20 0;
}

.footer-column {
  width: 20%;
  margin-bottom: 20px;
}

.column-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.column-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-list-item {
  margin-bottom: 5px;
}
.rockstarlogosection{
  background-color: rgba(15,23,42,255);
  text-align: center;
  height: 75px;
}
.rockstarlogosection .rockstar-logo{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.rockstar-logo img {
  width: 6rem; 
  height: 6rem; 
  border-radius: 50%;
  margin-bottom: -120px;
}
.footer {
  background-color: rgba(15, 23, 42, 255);
  margin-top: 2px;
  padding-top: 90px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-list {
  list-style: none;
  line-height: 2rem; 
}


.footer .column-list {
  font-family: 'Inter', 'sans-serif';
  --tw-text-opacity: 1;
  color: rgb(148 163 184/var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 400;
}

.footer .column-list-item-main {
  font-family: 'Inter', 'sans-serif';
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  
}

.footer ul li {
  
  flex: 1; 
  text-align: left; 
}

.footer .column-list-itemspecial {
  margin-top: 5px;
  line-height: 1.5rem; 
}

.column-list-itemspecial .image-and-text {
  gap: 0.5rem;
  display: flex;
  align-items: center; 
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.footer .column-list-itemspecials {
  line-height: 2.5rem; 
}
.column-list-itemspecials .image-and-text {
  gap: 0.5rem;
  display: flex;
  align-items: center; 
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.social-media-icons img {
  margin-top: 80px;
  margin-right: 15px; 
}



    
