body{
  font-family: 'Inter', 'sans-serif';
}

.nav {
  background-color: rgba(15,23,42,255);
}

.nav .menu ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0 ; 
}
.nav .menu ul li{

  font-family: 'Inter', 'sans-serif';
  display: inline;
  margin-right: 40px;
  color: white;
  font-weight: 600;
}
/* .nav .menu ul.special-list li:nth-child(2),li:nth-child(4) {
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  padding: 0px 30px 0 30px;
}
.nav .menu ul li:nth-child(6){

  border-left: 1px solid #676767;
  padding: 0px 0 0 30px;
} */
.nav .menu ul.special-list .item-with-border {
  border-left: 1px solid #676767;
  border-right: 1px solid #676767;
  padding: 0px 30px 0 30px;
}
.nav .menu ul.special-list .item-with-borders {
  border-left: 1px solid #676767;
  
  padding: 0px 0 0 30px;

}

.nav .menu ul.special-list .item-with-border:nth-last-child(1) {
  /* Apply styles to the last item with a border */
  border-left: 1px solid #676767;
  padding: 0px 0 0 30px;
}
.banner{
  width: 100%;
  height: 500px;
  background-image: url(img/whitecolor.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-logo{
  background-color: #f7fbfc;
  padding: 0;
}

.sec-logo .main-img{
  display: inline-flex;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-logo .main-img .image{
  padding-right: 50px;
}
.sec-logo .main-img img{
  width: 100%;
  height: 130px;
}
.sec-logo .main-img .image p{
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Inter', 'sans-serif';
  color: #1f1c1d;
  font-weight: 600;
}


.deals{
  margin:0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f1f2f6;
}
/* .deals + .deals {
  margin-top: 20px; 
  
} */
.deals .row [class^="col-"] {
  margin-right: -5px; /* Adjust the value as needed */
}
.deals .container .row{
  position: relative;
}
.deals .container .row::before{
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: 36%;
  left: -20px;
  background-color: white;
  border-radius: 50%;
  background-image: url(img/left-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.deals .container .row::after{
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  top: 36%;
  right: -5px;
  background-color: white;
  border-radius: 50%;
  background-image: url(img/left-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.deals .card{
  border: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  
}
.deals .txt h2{

    font-size: 1.75rem;
    font-weight: 600;
    color: #3e4148;
    text-align: center;
    padding-bottom: 50px;
}
.deals .card-title{
  color: #4c4b50;
  margin-top: 12px;
}
.container .gallery {
  width: 120%;
  margin: 3rem auto; 
}
.container .imagegallerytxt{
  font-family: 'Inter', 'sans-serif';
  text-align: center;
  padding-top: 70px;

}
.container .imagegallerytxt h2{
  font-size: 30px;

}
.container .imagegallerytxt p{
  font-size: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  
  padding-bottom: -150px;
  
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;

}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;

 
}

.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end:9;
  grid-row-start: 1;
  grid-row-end: 4;

 
}

.gallery__item--4 {
  grid-column-start:9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;

}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;

}

.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

  .gallery__item--7 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--9{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
  }
  .gallery__item--11 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 13;
  }
  .gallery__item--12 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 13;
  }
  .gallery__item--13 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end:13;
  }
  .gallery__item--14 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start:10;
    grid-row-end: 13;
  }
  .test{
    margin:0;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 70px; 
    background-color: #f1f2f6;
  }
  /* .deals + .deals {
    margin-top: 20px; 
    
  } */
  .test .row [class^="col-"] {
    margin-right: -5px; /* Adjust the value as needed */
  }
  .test .container .row{
    position: relative;
    
  }
  .test .container .row::before{
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: 45%;
    left: -20px;
    background-color: white;
    border-radius: 50%;
    background-image: url(img/left-icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .test .container .row::after{
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: 45%;
    right: -5px;
    background-color: white;
    border-radius: 50%;
    background-image: url(img/left-icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
  }
  
  .test .card{
    border: none;
    text-align: center;
    margin-top: -20px;
    
      
  }
  
  .test .txt h2{
  
      font-size: 34px;
      font-weight: 600;
      color: #3e4148;
      text-align: center;
      padding-bottom: 50px;
      font-family: 'Inter', 'sans-serif';
  }
  .test .card-title{
    color: #4c4b50;
    margin-top: 0px;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    margin-bottom: 0px;
  }
  .test .card-text{
    color:#3e4148;
    margin-top: 0px;
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    margin-bottom: 5px;
    
  }
  .test .card-texts{
    color: #4c4b50;
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
  }
  .checked {
    color: orange;
  }
  .test .card-body img, p {
    font-family: 'Inter', 'sans-serif';
    display: inline-block;
    font-size: 12px;
    color:#676767;
    margin: 0px;
     /* Optional: Align elements vertically in the middle */
  }

  .video {
    position: relative;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 1300px; /* Adjust the maximum width as needed */
    margin: auto;
    padding-right: 10px;
  }
  
  .video-container video {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .center_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  


.brand{
  padding-bottom: 65px;
  background-color: rgb(219 219 219 / 53%);
}
.brand .txt h2{
  font-size: 26px;
  font-weight: 600;
  color: #3e4148;
  text-align: center;
  font-family: 'Inter', 'sans-serif';
  padding-top: 50px;
  display: block;
  
}

.brand .txt p{
  font-family: 'Inter', 'sans-serif';
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 15px;
  color: #aeb0b3;
  display: block;
    margin: 0 auto; /* This centers the block horizontally */
    text-align: center
  
}

.brand .card-title{
  font-family: 'Inter', 'sans-serif';
  font-size: 1.125rem;
  margin-top: 5px;
  color: #3e4148;
}
.brand .card-text{
  font-family: 'Inter', 'sans-serif';
  font-size: 1rem;
  margin-top: 10px;
  color: #888888;
}
.brand .container .row{
  padding: 40px 0 40px 0;
  background-color: white;
}
.brand .container .row .col-lg-3{
  padding: 0;
}
.brand .card{
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 70px 10px 70px 10px;
}
.brand #card-2{
border-left: 1px solid #b8b8b8;
border-right: 1px solid #b8b8b8;
}
.brand #card-4{
  border-left: 1px solid #b8b8b8;
}

.brand .card img{
  width: 20%;
  margin: 0 auto;
}
.chatwithus{
  padding-bottom: 50px;
}

.chat-container {
  display: flex;
  justify-content: space-between;
 
}

.chat-column {
  flex: 1;
  max-width: 48%; /* Adjust the width as needed */
  margin-right: 2%; /* Adjust the gap between columns */
  font-family: 'Inter', 'sans-serif';
  
  
}
.chat-column h2{
  font-size: 26px;
  padding-top: 100px;
  
}
.chat-column p{
  font-size: 16px;
  color: #4c4b50;
  
}
.chat-column:last-child {
  margin-right: 0; /* Remove right margin for the last column */
}
.btn{
  /* Adjust the properties to enlarge the button */
  width: 170px; /* Set the desired width */
  height: 40px; /* Set the desired height */
  padding: 150px; /* Adjust padding for internal spacing */
  font-size: 16px; /* Adjust the font size */
  margin-top: 25px;
  
}




.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20 0 20 0;
}

.footer-column {
  width: 20%;
  margin-bottom: 20px;
}

.column-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.column-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-list-item {
  margin-bottom: 5px;
}
.rockstarlogosection{
  background-color: rgba(15,23,42,255);
  text-align: center;
  height: 75px;
}
.rockstarlogosection .rockstar-logo{
  width: 100%;
  
  display: inline-block;
}
.rockstar-logo img {
  width: 80px; /* Set the desired width */
  height: 80px; /* Maintain aspect ratio */
  border-radius: 50%;
  margin-bottom: -120px;
}
.footer {
  background-color: rgba(15, 23, 42, 255);
  margin-top: 2px;
  padding-top: 90px;
}

.column-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-list-item {
  margin-bottom: 5px;
  
}

.footer .column-list {
  font-family: 'Inter', 'sans-serif';
  padding-left: 80px;
  color: #7c8497;
  font-size : 1rem;
  line-height: 20px;
}

.footer .column-list-item-main {
  font-family: 'Inter', 'sans-serif';
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.5rem;
  text-align: justify;
  line-height: inherit;
}

.footer .column-list-item-mainss {
  font-family: 'Inter', 'sans-serif';
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 25px;
}
.footer-column {
  width: 20%;
  margin-bottom: 20px; /* Adjust the margin between each column */
  padding-right: -20px; /* Adjust the padding-right to reduce space between columns */
}
.footer .column-list{
 margin-left: 50px;
}
.footer .column-lists{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  padding-left: 60px;
  color: #7c8497;
  font-size: 12px;
  line-height: 20px;
}
.footer .column-listss{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  padding-left: 30px;
  color: #7c8497;
  font-size: 12px;
  line-height: 20px;
}
.footer .column-listsss{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  padding-left: -20px;
  color: #7c8497;
  font-size: 12px;
  line-height: 20px;
}
.footer .column-listssss{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  padding-left: 0px;
  color: #7c8497;
  font-size: 12px;
  line-height: 20px;
}
 




    
